html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.row {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .row:last-child {
    margin-right: 0; }

.one-half, .two-fourths, .three-sixths {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  .one-half:last-child, .two-fourths:last-child, .three-sixths:last-child {
    margin-right: 0; }
  @media screen and (min-width: 48em) {
    .one-half--screen-sm, .two-fourths--screen-sm, .three-sixths--screen-sm {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .one-half--screen-sm:last-child, .two-fourths--screen-sm:last-child, .three-sixths--screen-sm:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 64em) {
    .one-half--screen-md, .two-fourths--screen-md, .three-sixths--screen-md {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .one-half--screen-md:last-child, .two-fourths--screen-md:last-child, .three-sixths--screen-md:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 75em) {
    .one-half--screen-lg, .two-fourths--screen-lg, .three-sixths--screen-lg {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .one-half--screen-lg:last-child, .two-fourths--screen-lg:last-child, .three-sixths--screen-lg:last-child {
        margin-right: 0; } }
  .one-half.shift-center, .two-fourths.shift-center, .three-sixths.shift-center {
    margin-left: 25.5894128995%; }
  .one-half.shift-right, .two-fourths.shift-right, .three-sixths.shift-right {
    margin-left: 51.178825799%; }

.one-third, .two-sixths {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%; }
  .one-third:last-child, .two-sixths:last-child {
    margin-right: 0; }
  @media screen and (min-width: 48em) {
    .one-third--screen-sm, .two-sixths--screen-sm {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .one-third--screen-sm:last-child, .two-sixths--screen-sm:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 64em) {
    .one-third--screen-md, .two-sixths--screen-md {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .one-third--screen-md:last-child, .two-sixths--screen-md:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 75em) {
    .one-third--screen-lg, .two-sixths--screen-lg {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .one-third--screen-lg:last-child, .two-sixths--screen-lg:last-child {
        margin-right: 0; } }
  .one-third.shift-center, .two-sixths.shift-center {
    margin-left: 34.1192171993%; }
  .one-third.shift-right, .two-sixths.shift-right {
    margin-left: 68.2384343986%; }

.two-thirds, .four-sixths {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%; }
  .two-thirds:last-child, .four-sixths:last-child {
    margin-right: 0; }
  @media screen and (min-width: 48em) {
    .two-thirds--screen-sm, .four-sixths--screen-sm {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 65.8807828007%; }
      .two-thirds--screen-sm:last-child, .four-sixths--screen-sm:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 64em) {
    .two-thirds--screen-md, .four-sixths--screen-md {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 65.8807828007%; }
      .two-thirds--screen-md:last-child, .four-sixths--screen-md:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 75em) {
    .two-thirds--screen-lg, .four-sixths--screen-lg {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 65.8807828007%; }
      .two-thirds--screen-lg:last-child, .four-sixths--screen-lg:last-child {
        margin-right: 0; } }
  .two-thirds.shift-center, .four-sixths.shift-center {
    margin-left: 17.0596085997%; }
  .two-thirds.shift-right, .four-sixths.shift-right {
    margin-left: 34.1192171993%; }

.one-fourth {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%; }
  .one-fourth:last-child {
    margin-right: 0; }
  @media screen and (min-width: 48em) {
    .one-fourth--screen-sm {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%; }
      .one-fourth--screen-sm:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 64em) {
    .one-fourth--screen-md {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%; }
      .one-fourth--screen-md:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 75em) {
    .one-fourth--screen-lg {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%; }
      .one-fourth--screen-lg:last-child {
        margin-right: 0; } }
  .one-fourth.shift-center {
    margin-left: 38.3841193492%; }
  .one-fourth.shift-right {
    margin-left: 76.7682386985%; }

.three-fourths {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 74.4105871005%; }
  .three-fourths:last-child {
    margin-right: 0; }
  @media screen and (min-width: 48em) {
    .three-fourths--screen-sm {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 74.4105871005%; }
      .three-fourths--screen-sm:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 64em) {
    .three-fourths--screen-md {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 74.4105871005%; }
      .three-fourths--screen-md:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 75em) {
    .three-fourths--screen-lg {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 74.4105871005%; }
      .three-fourths--screen-lg:last-child {
        margin-right: 0; } }
  .three-fourths.shift-center {
    margin-left: 12.7947064497%; }
  .three-fourths.shift-right {
    margin-left: 25.5894128995%; }

@media screen and (min-width: 48em) {
   {
    float: left;
    display: block;
    margin-right: 1.877269384%;
    width: 18.4981844928%; } }
@media screen and (min-width: 64em) {
   {
    float: left;
    display: block;
    margin-right: 1.877269384%;
    width: 18.4981844928%; } }
@media screen and (min-width: 75em) {
   {
    float: left;
    display: block;
    margin-right: 1.877269384%;
    width: 18.4981844928%; } }

@media screen and (min-width: 48em) {
   {
    float: left;
    display: block;
    margin-right: 1.877269384%;
    width: 38.8736383696%; } }
@media screen and (min-width: 64em) {
   {
    float: left;
    display: block;
    margin-right: 1.877269384%;
    width: 38.8736383696%; } }
@media screen and (min-width: 75em) {
   {
    float: left;
    display: block;
    margin-right: 1.877269384%;
    width: 38.8736383696%; } }

@media screen and (min-width: 48em) {
   {
    float: left;
    display: block;
    margin-right: 1.877269384%;
    width: 59.2490922464%; } }
@media screen and (min-width: 64em) {
   {
    float: left;
    display: block;
    margin-right: 1.877269384%;
    width: 59.2490922464%; } }
@media screen and (min-width: 75em) {
   {
    float: left;
    display: block;
    margin-right: 1.877269384%;
    width: 59.2490922464%; } }

@media screen and (min-width: 48em) {
   {
    float: left;
    display: block;
    margin-right: 1.877269384%;
    width: 79.6245461232%; } }
@media screen and (min-width: 64em) {
   {
    float: left;
    display: block;
    margin-right: 1.877269384%;
    width: 79.6245461232%; } }
@media screen and (min-width: 75em) {
   {
    float: left;
    display: block;
    margin-right: 1.877269384%;
    width: 79.6245461232%; } }

.one-sixth {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 14.7019570017%; }
  .one-sixth:last-child {
    margin-right: 0; }
  @media screen and (min-width: 48em) {
    .one-sixth--screen-sm {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 14.7019570017%; }
      .one-sixth--screen-sm:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 64em) {
    .one-sixth--screen-md {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 14.7019570017%; }
      .one-sixth--screen-md:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 75em) {
    .one-sixth--screen-lg {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 14.7019570017%; }
      .one-sixth--screen-lg:last-child {
        margin-right: 0; } }
  .one-sixth.shift-center {
    margin-left: 42.6490214991%; }
  .one-sixth.shift-right {
    margin-left: 85.2980429983%; }

.five-sixths {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 82.9403914003%; }
  .five-sixths:last-child {
    margin-right: 0; }
  @media screen and (min-width: 48em) {
    .five-sixths--screen-sm {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 82.9403914003%; }
      .five-sixths--screen-sm:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 64em) {
    .five-sixths--screen-md {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 82.9403914003%; }
      .five-sixths--screen-md:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 75em) {
    .five-sixths--screen-lg {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 82.9403914003%; }
      .five-sixths--screen-lg:last-child {
        margin-right: 0; } }
  .five-sixths.shift-center {
    margin-left: 8.5298042998%; }
  .five-sixths.shift-right {
    margin-left: 17.0596085997%; }

.twelve {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .twelve:last-child {
    margin-right: 0; }
  @media screen and (min-width: 48em) {
    .twelve--screen-sm {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .twelve--screen-sm:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 64em) {
    .twelve--screen-md {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .twelve--screen-md:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 75em) {
    .twelve--screen-lg {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .twelve--screen-lg:last-child {
        margin-right: 0; } }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #EFEFEF;
  color: #232A31;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em; }

h1, h2 {
  line-height: 1.5em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

p {
  margin: 0 0 0.75em; }

.grid-demo-heading {
  font-size: 1.25em; }
  @media screen and (min-width: 64em) {
    .grid-demo-heading {
      font-size: 2em; } }

.grid-demo {
  background: #09B1BF;
  color: #FFFFFF;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 0.65em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-align: center; }
  @media screen and (min-width: 48em) {
    .grid-demo {
      font-size: 0.8em; } }
  @media screen and (min-width: 64em) {
    .grid-demo {
      font-size: 0.9em; } }
  @media screen and (min-width: 75em) {
    .grid-demo {
      font-size: 1em; } }

.grid-demo-row {
  background: #09B1BF;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 0.65em;
  text-align: center; }
  .grid-demo-row:nth-child(2) {
    background: #077baa; }
  .grid-demo-row:nth-child(3) {
    background: #088DC2; }
  .grid-demo-row:nth-child(4) {
    background: #069DD9; }
  .grid-demo-row:nth-child(5) {
    background: #08A8E7; }
  @media screen and (min-width: 48em) {
    .grid-demo-row {
      font-size: 0.8em; } }
  @media screen and (min-width: 64em) {
    .grid-demo-row {
      font-size: 0.9em; } }
  @media screen and (min-width: 75em) {
    .grid-demo-row {
      font-size: 1em; } }

.grid-demo-item {
  background: #06C8D9;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding: 1em;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 0.65em;
  text-align: center; }
  @media screen and (min-width: 48em) {
    .grid-demo-item {
      font-size: 0.8em; } }
  @media screen and (min-width: 64em) {
    .grid-demo-item {
      font-size: 0.9em; } }
  @media screen and (min-width: 75em) {
    .grid-demo-item {
      font-size: 1em; } }
